html::-webkit-scrollbar{
    width: 0.9vw;
}

html::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 5px;
}

html::-webkit-scrollbar-thumb:active{
    background-color: blueviolet;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, 'Noto Sans JP';
    background-color: rgb(48, 48, 48);
    color: white;
    font-size: large;
}

.fullscreen{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.fullscreen video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    animation: skeleton 1s linear infinite alternate;
}

@keyframes skeleton{
    0% {
        background-color: #2e3440;
    }

    100% {
        background-color: #4c566a;
    }
}

a{
    color: blueviolet;
    text-decoration: none;
    transition: .3s linear;
}

a:hover{
    color: rgb(172, 114, 226);
}

header{
    position: relative;
    top: 0px;
    width: 100%
}

.navbar{
    background-color: rgba(53, 53, 53, 0.712);
    padding: 10px 0px;
    text-align: center;
}

.navbar a{
    position: relative;
    top: -15px;
    padding: 30px 20px 26px 20px;
}

.navbar a:hover{
    background-color: rgb(0, 0, 0,0.5);
}

.navbar a i{
    color: white;
}

.navbar img{
    position: relative;
    top: 1.4px;
    height: 50px;
    border-radius: 20%;
}

.showcase{
    position: relative;
    top: 0px;
    height: 100vh;
    text-align: center;
    padding: 30px;
    width: 100%;

    /* background-image: url(./obrazky/showcasebg.jpg);
    background-repeat: no-repeat;
    background-position: center; */
}

.showcasetext{
    position: relative;
    top: 300px;
}

.showcase h1{
    font-size: 70px;
    line-height: 1px;
    font-weight: 100;
}

/* .showcase img{
    height: 200px;
    border-radius: 20%;
    background: linear-gradient(130deg, #5e81ac, #bf616a, #d08770, #ebcb8b, #a3be8c, #b48ead);
    background-size: 200% 200%;
    animation: animated-gradient 10s linear infinite;
    padding: 10px;
} */

.showcase h3{
    font-weight: 100;
}

.bb{
    padding: 10px 60px;
    border: 2px solid blueviolet;
    border-radius: 20px;
    transition: .3s linear;
}

.bb:hover{
    background-color: blueviolet;
    color: white;
}

.mac{
    padding: 10px;
    height: 600px;
    font-size: 30px;
    text-align: center;
}

.mac p{
    position: relative;
    top: 100px;
}

.faq{
    padding: 10px;
    height: 760px;
    background-color: #191c20;
}

.faq h1{
    text-align: center;
}

.footer{
    height: 52px;
    background-color: rgb(32, 32, 32);
    padding: 10px;
    color: rgb(138, 138, 138);
}

.footer a{
    color: rgb(97, 66, 126);
    
}

.footer a:hover{
    color: rgb(127, 87, 165);
}
